body {
  background: rgb(207, 207, 207);
  font-family: 'Arial', cursive;
}

#index {
  padding:35px;
  width:40%;
  margin: 20px 20px;
  border-radius: 10px;
  margin: auto;
}

.playground {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px  150px 150px 150px;
  background-color: rgb(108, 8, 155);
  width: 675px;
  height: 780px;
  padding: 10px;
}

.card {
  height: 150px;
  width: 150px;
  user-select: none;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  margin: 15px;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin : center center;
  position: relative;
}
div {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 15px;
  background: #000000; 
}
.back { 
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}
.front {
  transform: rotateY(-180deg);
}
div.card.opened {
  transform: rotateY(-180deg);
}
div.card.matched {
  transform: rotateY(180deg);
}

.completed{
  font-size: 60px;
  color: rgb(2, 236, 2);
  position: fixed; 
  display: block; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  text-align: center;
  cursor: pointer;
}
