body {
  background: rgb(207, 207, 207);
  font-family: 'Arial', cursive;
}

#index {
  padding:35px;
  width:40%;
  margin: 20px 20px;
  border-radius: 10px;
  margin: auto;
}

.playground {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px  150px 150px 150px;
  background-color: rgb(108, 8, 155);
  width: 675px;
  height: 780px;
  padding: 10px;
}

.card {
  height: 150px;
  width: 150px;
  user-select: none;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  margin: 15px;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin : center center;
  position: relative;
}
div {
  backface-visibility: hidden;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background: #000000; 
}
.back { 
  font-size: 35px;
  color: rgb(2, 236, 2);
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}
.front {
  transform: rotateY(-180deg);
  line-height: 110px;
}
div.card.opened {
  transform: rotateY(-180deg);
}
div.card.matched {
  transform: rotateY(180deg);
  .back {
    box-shadow: 0 0 0 2px rgba(#000,.05) inset;
    animation: selected .8s 0s ease 1;
    opacity: .2;
   }
}
@keyframes selected {
  0% {
    opacity:0.2;
  }
  30% {
    opacity:0.5;
  }
  50% {
    opacity:0.9;
  }
  70% {
    opacity:0.2;
  }
  100% {
    opacity:0.3;
  }
}